<app-head-nav></app-head-nav>
<div class="container-fluid jiemo-future-schoolsearch">
  <div class="row">
    <!--搜索条件 start-->
    <form method="post" id="theform" name="theform" action="">
      <div class="container search-area">
        <div class="row">
          <div class="col-md-12">
            <ul>
              <li>
                <strong>学校名称：</strong>
                <div class="input-group">
                  <input type="text" class="form-control"  name="name" [(ngModel)]="request.name" placeholder="请输入学校中/英文名称" id="search_sh_name" value="">
                  <span class="input-group-btn">
                    <button class="btn btn-normal" type="button" (click)="search()">查询</button>
                  </span>
                  <p class="wwinputlist_todo hidden">
                    <a href="">dfgd</a>
                  </p>
                </div>
                <div class="jm-cb"></div>
              </li>
              <li>
                <strong>选择地区：</strong>
                <div class="ctrl-select" data-toggle="distpicker">
                  <div class="ctrl-select-area">
                    <select data-province="全部地区" name="parentId" id="theArea" [(ngModel)]="request.parentId" (change)="getSubRegion()">
                      <option value=""> 全部地区</option>
                      <option *ngFor="let parentRegion of parentRegions" value="{{ parentRegion.id }}"> {{ parentRegion.address }} </option>
                    </select>
                    <i class="glyphicon glyphicon-triangle-bottom"></i></div>
                  <div class="ctrl-select-area">
                    <select data-city="全部城市" id="theCity" name="subId" [(ngModel)]="request.subId">
                      <option value=""> 全部城市</option>
                      <option *ngFor="let subRegion of subRegions" value="{{ subRegion.id }}"> {{ subRegion.address }} </option>
                    </select>
                    <i class="glyphicon glyphicon-triangle-bottom"></i></div>
                </div>
                <div class="jm-cb"></div>
              </li>
              <li>
                <strong>国内排名：</strong>
                <em [class]="actives[0]" (click)="activeStyle(0)">不限</em>
                <em [class]="actives[1]" (click)="activeStyle(1)">1~10名</em>
                <em [class]="actives[2]" (click)="activeStyle(2)">11~20名</em>
                <em [class]="actives[3]" (click)="activeStyle(3)">21~50名</em>
                <input type="text" class="normal-input" id="rank_min" name="rank_min" value="" [(ngModel)]="request.rankingTop" maxlength="5">
                <font>~</font>
                <input type="text" class="normal-input" id="rank_max" name="rank_max" value="" [(ngModel)]="request.rankingBottom" maxlength="5">
                <font>名</font>
                <button class="btn btn-normal" type="button" (click)="search()">确定</button>
                <div class="jm-cb"></div>
              </li>
            </ul>
          </div>
        </div>
      </div>
    </form>
    <!--搜索条件 end-->
    <div class="container end-area">
      <div class="row">
        <div class="col-md-12 list-header">
          <h3>共找到<b>{{ totalCount }}</b>所学校</h3>
        </div>
        <div class="col-md-12">
          <div class="list-area" *ngFor="let school of schools">
            <div class="row">
              <div class="col-md-2 col-xs-5">
                <div class="img-area">
                  <a routerLink="/school/detail/{{ school.id }}"><img [src]="school.schoolIcon" alt="学校logo"></a>
                </div>
              </div>
              <div class="col-md-10 col-xs-7">
                <h4>{{ school.schoolName }}<font>/</font><span>{{ school.englishName }}</span></h4>
                <p>世界排名：<span>{{ school.worldRanking }}</span>
                  国内排名：<span>{{ school.nationalRanking }}</span>
                </p>
                <a routerLink="/school/detail/{{ school.id }}">查看详情 ➜</a>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>

    <div class="pagination">
      <ngb-pagination [collectionSize]="totalCount" [(page)]="request.page" [maxSize]="5" [boundaryLinks]="true" (pageChange)="search()"></ngb-pagination>
    </div>

  </div>
</div>
