.jiemo-futurejap-loginbg {
  background: rgba(0,0,0,.5);
  position: fixed;
  left: 0;
  top: 0;
  right: 0;
  bottom: 0;
  z-index: 10;
  margin: auto;
  width: 0;
  height: 0;
  opacity: 0;
  pointer-events: none;
  -webkit-transition: all 0.4s linear;
  -moz-transition: all 0.4s linear;
  transition: all 0.4s linear;

  width: 100%;
  height: 100%;
  opacity: 1;
  pointer-events: auto;
}
.jiemo-futurejap-loginbg .content-area {
  background: #fff;
  width: 46rem;
  margin-left: -23rem;
  position: fixed;
  left: 50%;
  top: 15%;
  overflow: auto;
  height: 38rem;
}
.jiemo-futurejap-loginbg .content-area .left {
  width: 40%;
  float: left;
}
.jiemo-futurejap-loginbg .content-area .left img {
  width: 100%;
  position: relative;
  z-index: 2;
}
img {
  outline: 0;
  border: none;
}
.jiemo-futurejap-loginbg .content-area .right {
  width: 60%;
  float: left;
  position: relative;
}
.jiemo-futurejap-loginbg .content-area .right .close-window {
  position: absolute;
  top: 0.6rem;
  right: 0.8rem;
  display: inline-block;
  width: 2rem;
  height: 2rem;
  line-height: 2rem;
  text-align: center;
  font-size: 2.4rem;
  color: #333;
  cursor: pointer;
}
.jiemo-futurejap-loginbg .content-area .login-tabarea {
  position: absolute;
  left: 10%;
  top: 2rem;
  width: 80%;
  height: 100%;
  margin: auto;
  background-color: #fff;
  -webkit-transition: all 0.5s linear;
  -moz-transition: all 0.5s linear;
  transition: all 0.5s linear;
}
.jiemo-futurejap-loginbg .content-area .right .title {
  height: 1rem;
  text-align: center;
  border-bottom: 0.1rem solid #ddd;
  margin: 0rem auto 3rem;
}
.jiemo-futurejap-loginbg .content-area .right .title h3 {
  display: inline-block;
  font-size: 1.8rem;
  background-color: #fff;
  padding: 0 2rem;
  margin-top: 0;
}
.jiemo-futurejap-loginbg .content-area .right .line-area {
  width: 100%;
  margin: 1rem auto;
}
.jiemo-futurejap-loginbg .content-area .right .line-area .input-area.size-small {
  width: 100%;
}
.jiemo-futurejap-loginbg .content-area .right .line-area .input-area input, .jiemo-futurejap-loginbg .content-area .right .line-area .input-area select {
  background: none;
  border: none;
  width: 100%;
  height: 2rem;
  line-height: 2rem;
  font-size: 1.1rem;
}
.jiemo-futurejap-loginbg .content-area .right .line-area:after, .jiemo-futurejap-loginbg .content-area .right .bottom-area:after {
  display: block;
  clear: both;
  content: "";
}
.jiemo-futurejap-loginbg .content-area .right .line-area .input-area input, .jiemo-futurejap-loginbg .content-area .right .line-area .input-area select {
  background: none;
  border-bottom: 1px;
  border-bottom-style: solid;
  width: 100%;
  height: 2rem;
  line-height: 1rem;
  font-size: 1rem;
}

.jiemo-futurejap-loginbg .content-area .right .btn-submit {
  background: none;
  border: none;
  display: block;
  width: 100%;
  height: 3.4rem;
  line-height: 3.4rem;
  color: #fff;
  font-size: 1.1rem;
  text-align: center;
  background-color: #a51a29;
  margin-top: 0.8rem;
}
.jiemo-futurejap-loginbg .content-area .right .bottom-area a {
  font-size: 1.1rem;
  color: #7e7e7e;
  text-decoration: none;
  cursor: pointer;
}
.alert{
  text-align: center;
}

.line-area select{
  width: 100%;
  height: 34px;
  /*margin-left: 23rem;*/
  -webkit-appearance: none;
  padding: 0 0.6rem;
  margin-right: -1.5rem;
  /*margin-top: 3rem;*/
}
.line-area i {
  color: #999;
  font-size: 0.8rem;
  pointer-events: none;
}
