<div class="col-md-10">
  <div class="mainContent">
    <div class="uPanel">
      <div class="uPanelHead">
        你好，<span class="userName">{{ user.realName }}</span>
      </div>
      <div class="uPanelBody index">
        <div class="uMedia clearfix">
          <i class="ibg-consult"></i>
          <dl>
            <dt>在线咨询</dt>
            <dd>快速了解日本留学相关信息</dd>
          </dl>
          <a (click)="openTalk()" class="uMediaLink">立即咨询</a>
        </div>
        <div class="uMedia clearfix">
          <i class="ibg-evaluate"></i>
          <dl>
            <dt>评估定位</dt>
            <dd>填写评估定位表，获取日本留学评估方案</dd>
          </dl>
          <a routerLink="/assessment" class="uMediaLink">前往填写</a>
        </div>
      </div>
    </div>
  </div>
</div>
<app-talk *ngIf="isTalk" (closeTalk)="closeTalk($event)"></app-talk>
