<div class="col-md-10" *ngIf="user.userProcess <= 1">
  <div class="mainContent">
    <div class="uPanel">
      <div class="uPanelHead">
        你好，<span class="userName">{{ user.realName }}</span>
      </div>
      <div class="uPanelBody index">
        <div class="uMedia clearfix">
          <i class="ibg-consult"></i>
          <dl>
            <dt>在线咨询</dt>
            <dd>快速了解日本留学相关信息</dd>
          </dl>
          <a (click)="openTalk()" class="uMediaLink">立即咨询</a>
        </div>
        <div class="uMedia clearfix" *ngIf="user.userType == 1">
          <i class="ibg-evaluate"></i>
          <dl>
            <dt>评估定位</dt>
            <dd>填写评估定位表，获取日本留学评估方案</dd>
          </dl>
          <a routerLink="/assessment" class="uMediaLink">前往填写</a>
        </div>
      </div>
    </div>
  </div>
</div>
<app-talk *ngIf="isTalk" (closeTalk)="closeTalk($event)"></app-talk>
<div class="col-md-10" *ngIf="user.userProcess > 1">
  <ul>
    <li>
      <strong>学校名称：</strong>
      <div class="input-group info">
        <input type="text" class="form-control"  name="name"  [(ngModel)]="assessment.school" id="search_sh_name" disabled>
      </div>
    </li>
    <li>
      <strong>学校类型：</strong>
      <div class="input-group info">
        <input type="text" class="form-control"  name="schoolType"  [ngModel]="assessment.schoolType | assessment: 1"  disabled>
      </div>
    </li>
    <li>
      <strong>专业:</strong>
      <div class="input-group">
        <input type="text" class="form-control"  name="major" [(ngModel)]="assessment.major" value="" disabled>
      </div>
    </li>
    <li>
      <strong>托福分数：</strong>
      <div class="input-group info">
        <input type="number" class="form-control"  name="toefl" [(ngModel)]="assessment.toefl" value="" disabled>
      </div>
    </li>
    <li>
      <strong>日语等级：</strong>
      <div class="input-group info">
        <input type="text" class="form-control"  name="subId" [ngModel]="assessment.japaneseLevel | assessment: 2" disabled>
      </div>
    </li>
    <li>
      <strong>学校GPA满分：</strong>
      <div class="input-group info all">
        <input type="number" class="form-control"  name="subId" [(ngModel)]="assessment.schoolGpa" value="" disabled>
      </div>
    </li>
    <li>
      <strong>GPA分数：</strong>
      <div class="input-group info all nofirst">
        <input type="number" class="form-control"  name="subId" [(ngModel)]="assessment.gpa" value="" disabled>
      </div>
    </li>
    <li>
      <strong>个人评估：</strong>
      <div class="input-group all info nofirst">
        <input type="text" class="form-control"  name="subId" [ngModel]="assessment.score | assessment: 3" disabled>
      </div>
    </li>
    <li>
      <strong>评估分数：</strong>
      <div class="input-group all info nofirst">
        <input type="text" class="form-control"  name="subId" [ngModel]="assessment.totalScore" disabled>
      </div>
    </li>
  </ul>
</div>

