<div class="col-md-10">
  <div class="mainContent">
    <div class="uPanel">
      <div class="uPanelHead">
        你好，<span class="userName">一个小时不简单</span>
      </div>
      <div class="uPanelBody index">
        <div class="uMedia clearfix">
          <i class="ibg-consult"></i>
          <dl>
            <dt>在线咨询</dt>
            <dd>快速了解日本留学相关信息</dd>
          </dl>
          <a href="http://wpa.qq.com/msgrd?v=3&amp;uin=80040453&amp;site=qq&amp;menu=yes" target="_blank" class="uMediaLink">立即咨询</a>
        </div>
        <div class="uMedia clearfix">
          <i class="ibg-evaluate"></i>
          <dl>
            <dt>评估定位</dt>
            <dd>填写评估定位表，获取日本留学评估方案</dd>
          </dl>
          <a routerLink="/assessment" class="uMediaLink">前往填写</a>
        </div>
      </div>
    </div>
  </div>
</div>
