.uPanel {
  padding: 30px;
  background-color: #fff;
}
.uPanelHead {
  font-size: 16px;
}
.uPanelBody {
  margin-top: 10px;
}
.uMedia {
  position: relative;
  margin-top: 20px;
  padding: 40px 200px 40px 136px;
  -webkit-box-shadow: 0px 0px 20px 0px rgba(221, 220, 223, 0.5);
  -moz-box-shadow: 0px 0px 20px 0px rgba(221, 220, 223, 0.5);
  box-shadow: 0px 0px 20px 0px rgba(221, 220, 223, 0.5);
}
.uMedia i.ibg-consult {
  background-image: url(../../../assets/images/icon-user-consult.png);
}
.mainBody a:link, .mainBody a:visited, .mainBody a:hover, .mainBody a:active {
  text-decoration: none;
}
.uMedia i.ibg-evaluate {
  background-image: url(../../../assets/images/icon-user-evaluate.png);
}
body, button, dd, div, dl, dt, input, li, ol, p, ul {
  box-sizing: border-box;
  -ms-box-sizing: border-box;
  -o-box-sizing: border-box;
}
blockquote, body, button, caption, dd, div, dl, dt, fieldset, figure, form, h1, h2, h3, h4, h5, h6, hr, html, input, legend, li, menu, ol, p, pre, table, td, textarea, th, ul {
  margin: 0;
  padding: 0;
}
dd {
  display: block;
  margin-inline-start: 40px;
  margin-left: 0rem;
}
.uMedia .uMediaLink {
  display: block;
  padding: 12px 58px 12px 26px;
  font-size: 16px;
  background: url(../../../assets/images/icon-user-arrow.png) no-repeat 80% 16px;
  border: 1px solid #363636;
  color: #333;
}
.uMedia > a {
  position: absolute;
  top: 50%;
  right: 32px;
  margin-top: -21px;
}
.uMedia i {
  position: absolute;
  top: 50%;
  left: 28px;
  margin-top: -40px;
  display: block;
  width: 80px;
  height: 80px;
  background: no-repeat 50% 50%;
}
.step-progress {
  margin-top: 60px;
}
.nav {
  padding-left: 0;
  margin-bottom: 0;
  list-style: none;
}
.step li {
  position: relative;
  transition: all 0.3s ease-in-out;
  -webkit-transition: all 0.3s ease-in-out;
}
.step-progress > li.active > a, .step-progress > li.active > a:hover, .step-progress > li.active > a:focus {
  color: #00b8f5;
  background: transparent;
}
.step-progress > li > a:before {
  position: absolute;
  z-index: 2;
  top: -35px;
  left: 0;
  right: 0;
  margin: 0 auto;
  width: 2rem;
  height: 2rem;
  border-radius: 50%;
  line-height: 2rem;
  box-shadow: 0 0 0 5px #ebebeb;
}
.step-progress > li > a span.caret {
  position: absolute;
  left: 0;
  right: 0;
  margin: 0 auto;
  transform: rotate(180deg);
  top: -4px;
}
.step-progress > li > a:after {
  content: "";
  background-image: -webkit-linear-gradient(45deg, rgba(255, 255, 255, 0.15) 25%, rgba(0, 0, 0, 0) 25%, rgba(0, 0, 0, 0) 50%, rgba(255, 255, 255, 0.15) 50%, rgba(255, 255, 255, 0.15) 75%, rgba(0, 0, 0, 0) 75%, rgba(0, 0, 0, 0));
  background-image: -o-linear-gradient(45deg, rgba(255, 255, 255, 0.15) 25%, transparent 25%, transparent 50%, rgba(255, 255, 255, 0.15) 50%, rgba(255, 255, 255, 0.15) 75%, transparent 75%, transparent);
  background-image: linear-gradient(45deg, rgba(255, 255, 255, 0.15) 25%, rgba(0, 0, 0, 0) 25%, rgba(0, 0, 0, 0) 50%, rgba(255, 255, 255, 0.15) 50%, rgba(255, 255, 255, 0.15) 75%, rgba(0, 0, 0, 0) 75%, rgba(0, 0, 0, 0));
  -webkit-background-size: 40px 40px;
  background-size: 40px 40px;
  background-color: #ebebeb;
  float: left;
  width: 100%;
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  height: 10px;
  transition: all 0.5s ease-in-out;
  -webkit-transition: all 0.5s ease-in-out;
}
.step-progress > li.active > a:after, .step-progress > li.active > a:hover:after, .step-progress > li.active > a:focus:after {
  background-color: #00b8f5;
}
.step-progress > li.active > a:before, .step-progress > li.active > a:hover:before, .step-progress > li.active > a:focus:before {
  background-color: #00b8f5;
  color: #ffffff;
}
.step-progress > li > a:before {
  position: absolute;
  z-index: 2;
  top: -35px;
  left: 0;
  right: 0;
  margin: 0 auto;
  width: 2rem;
  height: 2rem;
  border-radius: 50%;
  line-height: 2rem;
  box-shadow: 0 0 0 5px #ebebeb;
}
.step{
  counter-reset:flag;
}
.step li a:before {
  content: counter(flag);
  counter-increment: flag;
  transition: all 0.3s ease-in-out;
  -webkit-transition: all 0.3s ease-in-out;
  -ms-transition: all 0.3s ease-in-out;
}
.step-progress > li.doing > a, .step-progress > li.doing > a:hover, .step-progress > li.doing > a:focus {
  color: #ff7f00;
  background: transparent;
}
.step-progress > li.doing > a:before, .step-progress > li.doing > a:hover:before, .step-progress > li.doing > a:focus:before {
  background-color: #ff7f00;
  color: #ffffff;
}
.step-progress > li.doing > a:after, .step-progress > li.doing > a:hover:after, .step-progress > li.doing > a:focus:after {
  background-color: #ff7f00;
}
