<div class="col-md-10">
  <div class="mainContent">
    <div class="uPanel">
      <div *ngIf="!assessed && user.userType != 2" class="uPanelHead">
        抱歉，您尚未签约。日本留学申请流程尚未开启，您可以：
      </div>
      <div *ngIf="!assessed && user.userType != 2" class="uPanelBody clearfix apply status0">
        <div class="row">
          <a (click)="openTalk()"  target="_blank" class="col-xs-6">
            <div class="uMedia clearfix">
              <i class="ibg-consult"></i>
              <dl class="uMediaBody">
                <dt>在线快捷咨询</dt>
                <dd>快速了解日本留学相关信息</dd>
              </dl>
            </div>
          </a>
          <a routerLink="/assessment" class="col-xs-6">
            <div class="uMedia clearfix">
              <i class="ibg-evaluate"></i>
              <dl class="uMediaBody">
                <dt>填写评估定位</dt>
                <dd>填写评估定位表，获取日本留学评估方案</dd>
              </dl>
            </div>
          </a>
        </div>
      </div>

      <div *ngIf="assessed || user.userType == 2" class="uPanelBody clearfix apply status0">
        <div class="row">
          <a href="../../../assets/语言培训协议书.docx" target="_blank" class="col-xs-6 col-file" (mouseenter)="show(0)" (mouseleave)="hide(0)">
            <div class="uMedia clearfix">
              <i class="ibg-file"></i>
              <dl class="uMediaBody">
                <dt>语言培训协议书</dt>
              </dl>
            </div>
            <img src="../../../assets/images/apply.png" [ngStyle]="displays[0]"/>
          </a>
          <a href="../../../assets/申请院校协议书.docx" class="col-xs-6 col-file" (mouseenter)="show(1)" (mouseleave)="hide(1)">
            <div class="uMedia clearfix">
              <i class="ibg-file"></i>
              <dl class="uMediaBody">
                <dt>申请院校协议书</dt>
              </dl>
            </div>
            <img src="../../../assets/images/train.png" [ngStyle]="displays[1]"/>
          </a>
          <a href="../../../assets/办理签证协议书.docx" class="col-xs-6 col-file" (mouseenter)="show(2)" (mouseleave)="hide(2)">
            <div class="uMedia clearfix">
              <i class="ibg-file"></i>
              <dl class="uMediaBody">
                <dt>办理签证协议书</dt>
              </dl>
            </div>
            <img src="../../../assets/images/visa.png" [ngStyle]="displays[2]"/>
          </a>
          <div class="ctrl-select-area" *ngIf="user.userType === 2">
            <select name="schoolType" [(ngModel)]="agreement.userId">
              <option [ngValue]=null>选择学生账号</option>
              <option *ngFor="let child of childrens" [ngValue]=child.id>{{ child.realName }}</option>
            </select>
            <i class="glyphicon glyphicon-triangle-bottom"></i>
          </div>
          <div class="btn-group">
            <div class="col-sm-4 ">
              <label for="file" class="btn btn-default">上传语言培训协议</label>
              <input id="file" type="file" style="display:none" accept=".gif,.jpg,.png,.jpeg" (change)="upload($event.target.files,1)">
            </div>
            <div class="col-sm-4 ">
              <label for="file1" class="btn btn-default">上传申请院校协议</label>
              <input id="file1" type="file" style="display:none" (change)="upload($event.target.files,2)">
            </div>
            <div class="col-sm-4 ">
              <label for="file2" class="btn btn-default">上传办理签证协议</label>
              <input id="file2" type="file" style="display:none" (change)="upload($event.target.files,3)">
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
<app-talk *ngIf="isTalk" (closeTalk)="closeTalk($event)"></app-talk>
