<div class="modal fade alert-modal-css form-wrapper in" id="feedback-modal" tabindex="-1" role="dialog"
     aria-labelledby="feedback-modal-label" data-keyboard="false" data-backdrop="true" style="display: block;">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-label="Close" (click)="close()"><span aria-hidden="true">×</span>
        </button>
        <h4 class="modal-title" id="feedback-modal-label">服务咨询</h4>
      </div>
      <div class="modal-body">
        <div class="message">
          <ul *ngFor="let message of messages">
            <li *ngIf="message.type === 1" class="left">
              <p><label>樱之国客服</label><span>{{ message.time | date:'shortTime' }}</span></p>
              <p>{{ message.content }}</p>
            </li>
            <li *ngIf="message.type === 0" class="right">
              <p><label>我</label><span>{{ message.time | date:'shortTime' }}</span></p>
              <p>{{ message.content }}</p>
            </li>
          </ul>
        </div>
      </div>
      <div class="split"></div>
      <div class="input-area">
        <textarea class="input-area" [(ngModel)]="message" (keyup.enter)="send()"></textarea>
        <!--<div>-->
          <!--<p>樱之国留学</p>-->
        <button class="btn send" (click)="send()" >发送</button>
        <!--</div>-->
      </div>
    </div>
  </div>
</div>
