<div class="container-fluid jiemo-futurejap-footer">
<div class="row footer-row1">
  <div class="col-md-4 left">
    <ul>
      <li class="active" data-add="1"><span>北京</span></li>
      <!--<li data-add="2"><span>上海</span></li>-->
      <!--<li data-add="3"><span>广州</span></li>-->
      <!--<li data-add="5"><span>沈阳</span></li>-->
      <!--<li data-add="4"><span>大连</span></li>-->
      <!--<li data-add="6"><span>东京</span></li>-->
    </ul>
    <div class="address active" data-address="1">
      北京市朝阳区霄云路霞光里15号霄云中心B座1801室<br>010-84463564 010-53653726
    </div>
    <!--<div class="address" data-address="2">-->
      <!--上海市杨浦区国宾路18号万达A座2103<br>021-55270776 021-55273177  021-55273178-->
    <!--</div>-->
    <!--<div class="address" data-address="3">-->
      <!--广州市天河区天河北路183号大都会广场26层2604室<br>020-22220895 020-22220896-->
    <!--</div>-->
    <!--<div class="address" data-address="4">-->
      <!--大连市高新园区火炬路32号创业大厦B座12层<br>0411-84522270-817-->
    <!--</div>-->
    <!--<div class="address" data-address="5">-->
      <!--沈阳市铁西区云峰北街62号东环国际大厦B座1205—1206<br>024-85611024 024-85611054-->
    <!--</div>-->
    <!--<div class="address" data-address="6">-->
      <!--東京都新宿区市谷田町２ー１７八重洲市谷ビル<br>070-2820-5019-->
    <!--</div>-->
  </div>
  <div class="col-md-4 center">
    <img src="http://www.qianchengriben.com/Public/Home/images/icon-logo-gray.png" alt="灰LOGO">
  </div>
  <div class="col-md-4 right hidden-xs">
    <a href="/"><img src="http://www.qianchengriben.com/Public/Home/images/icon-link-1.png" alt="快捷图标1"></a>
    <a><img src="http://www.qianchengriben.com//Public/Home/images/icon-link-8.png" alt="快捷图标8">
      <!--<div class="footer-tips">-->
        <!--<img src="http://www.qianchengriben.com//Public/Home/images/1514967096.png" alt="">-->
        <!--<em></em>-->
      <!--</div>-->
    </a>
    <a href="http://wpa.qq.com/msgrd?v=3&amp;uin=2850734117&amp;site=qq&amp;menu=yes" target="_blank"><img src="http://www.qianchengriben.com//Public/Home/images/icon-link-3.png" alt="快捷图标3"></a>
    <a><img src="http://www.qianchengriben.com//Public/Home/images/icon-link-4.png" alt="快捷图标4">
      <!--<div class="footer-tips">-->
        <!--<img src="http://www.qianchengriben.com//Public/Home/images/icon-ewmwx.jpg" alt="">-->
        <!--<em></em>-->
      <!--</div>-->
    </a>
    <a href="http://weibo.com/qianchengjp" target="_blank"><img src="http://www.qianchengriben.com//Public/Home/images/icon-link-5.png" alt="快捷图标5">
      <!--<div class="footer-tips">-->
        <!--<img src="http://www.qianchengriben.com//Public/Home/images/icon-ewmwb.png" alt="">-->
        <!--<em></em>-->
      <!--</div>-->
    </a>
    <a><img src="http://www.qianchengriben.com//Public/Home/images/icon-link-6.png" alt="快捷图标6">
      <!--<div class="footer-tips">-->
        <!--<span>qianchengriben@tuozhongedu.com</span>-->
        <!--<em></em>-->
      <!--</div>-->
    </a>
    <a><img src="http://www.qianchengriben.com//Public/Home/images/icon-link-7.png" alt="快捷图标7">
      <!--<div class="footer-tips">-->
        <!--<span>4006662006</span>-->
        <!--<em></em>-->
      <!--</div>-->
    </a>
  </div>
  <div class="line-gray"></div>
</div>
</div>
