<ngb-alert [dismissible]="false"  *ngIf="fail" class="alert">
  <strong>{{ message }}</strong>
</ngb-alert>
<div class="col-md-10">
  <div class="mainContent">
    <div class="uAccount">
      <div class="uCellHead">修改头像</div>
      <div class="uCellBody clearfix">
        <div class="uAvatar">
          <img *ngIf="!file.status" src="http://www.qianchengriben.com/Public/Home/images/hed-default.png" alt="">
          <img *ngIf="file.status" [src]="file.value" alt="">
        </div>
        <div class="uAvatarUpload">
          <label for="uAvatar" class="btn btn-red-darken">点击上传</label>
          <input type="file" id="uAvatar" name="uAvatar" accept=".gif,.jpg,.png,.jpeg" (change)="upload($event.target.files)">
        </div>
        <div class="uAvatarTip"></div>
      </div>
      <div class="uCellHead">真实姓名</div>
      <div class="uCellBody clearfix">
        <dl class="uNicName">
          <dt><input type="text" placeholder="" id="nickname" name="nickname" [(ngModel)]="realName"></dt>
          <dd>
            <button type="button" class="btn btn-red-darken" id="nicknameBtn" (click)="editName()">提交</button>
          </dd>
          <dd class="uAvatarTip_nickname" style="color: #a51a30;margin-left: 5px;"></dd>
        </dl>
      </div>

      <div class="uCellHead" *ngIf="user.userType === 2">家长账号</div>
      <div class="uCellBody clearfix" *ngIf="user.userType === 1">
        <dl class="uNicName">
          <div class="ctrl-select-area">
            <select name="schoolType" [(ngModel)]="user.parentId">
              <option [ngValue]=null>家长账号</option>
              <option  *ngFor="let parent of parents" [ngValue]="parent.id">{{ parent.username }}</option>
            </select>
            <i class="glyphicon glyphicon-triangle-bottom"></i>
          </div>
          <button type="button" class="btn btn-red-darken" (click)="bindParent()">提交</button>
          <dd class="uAvatarTip_nickname" style="color: #a51a30;margin-left: 5px;"></dd>
        </dl>
      </div>

      <div class="uCellHead">密码修改</div>
      <div class="uCellBody clearfix">
        <ul class="uUpdatePassword">
          <li><span>旧密码</span><input type="password" id="oldPwd" name="oldPwd" [(ngModel)]="passwordData.oldPassword" /></li>
          <li><span>新密码</span><input type="password" id="newPwd" name="newPwd" [(ngModel)]="passwordData.newPassword" />
            <button type="button" class="btn btn-red-darken" id="passwordBtn" (click)="editPassword()">提交</button>
            <span class="uAvatarTip_pwd" style="color: #a51a30;margin-left: 5px;"></span>
          </li>
        </ul>
      </div>
    </div>
  </div>
</div>
