<app-head-nav></app-head-nav>
<div class="container-fluid jiemo-futurejap-planheader planheader2">
  <div class="row">
    <!--面包屑 start-->
    <div class="container jiemo-futurejap-crumb">
      <div class="row">
        <div class="col-md-12">
          <span>您的位置：<a href="/">首页</a>/</span>
          <b>评估定位</b>
        </div>
      </div>
    </div>
    <!--面包屑 end-->
    <div class="container">
      <div class="row">
        <h1 class="col-md-12">评估定位</h1>
        <p class="col-md-12">无论是研究生，英文课程，还是本科的申请。想自己一试身手的同学，也都可以在樱之国得到最大程度的协助。</p>
      </div>
    </div>
  </div>
</div>
<div class="container-fluid jiemo-futurejap-aeposition">
  <div class="row">
    <div class="container">
      <div class="row">
        <div class="col-md-12 jiemo-futurejap-assessform">
          <form method="post" action="" id="theform">
            <div class="content">
              <div class="col-md-12">
                <ul>
                  <li>
                    <strong>学校名称：</strong>
                    <div class="input-group info">
                      <input type="text" class="form-control"  name="name"  [(ngModel)]="assessment.school" placeholder="请输入毕业院校" id="search_sh_name" value="">
                    </div>
                    <div class="ctrl-select-area">
                      <select placeholder="高校类型" name="schoolType" [(ngModel)]="assessment.schoolType">
                        <option [ngValue]=null>高校类型</option>
                        <option  [ngValue]="0">985院校</option>
                        <option  [ngValue]="1">211院校</option>
                        <option  [ngValue]="2">一般院校</option>
                      </select>
                      <i class="glyphicon glyphicon-triangle-bottom"></i>
                    </div>
                  </li>
                  <li>
                    <strong>专业:</strong>
                    <div class="input-group">
                      <input type="text" class="form-control"  name="name" [(ngModel)]="assessment.major"  placeholder="专业" value="">
                    </div>
                  </li>
                  <li>
                    <strong>语言能力：</strong>
                    <div class="ctrl-select" data-toggle="distpicker">
                      <div class="input-group info">
                        <input type="number" class="form-control" name="toefl" [(ngModel)]="assessment.toefl" placeholder="托福分数" value="" max="120" min="0" (change)="validator()">
                      </div>
                      <div class="ctrl-select-area">
                        <select id="theCity" name="subId" [(ngModel)]="assessment.japaneseLevel">
                          <option  [ngValue]=null>日语等级</option>
                          <option [ngValue]="1">N1</option>
                          <option [ngValue]="2">N2</option>
                        </select>
                        <i class="glyphicon glyphicon-triangle-bottom"></i>
                      </div>
                    </div>
                    <div class="jm-cb"></div>
                  </li>
                  <li>
                    <strong>申请优劣势：</strong>
                    <div class="ctrl-select" data-toggle="distpicker">
                      <div class="ctrl-select-area info all">
                        <select data-city="全部城市"  name="schoolGPA" [(ngModel)]="assessment.schoolGpa">
                          <option [ngValue]=null>GPA满分</option>
                          <option [ngValue]="5">5分</option>
                          <option [ngValue]="4">4分</option>
                        </select>
                        <i class="glyphicon glyphicon-triangle-bottom"></i>
                      </div>
                      <div class="ctrl-select-area info all nofirst">
                        <select name="GPA" [(ngModel)]="assessment.gpa">
                          <option [ngValue]=null>GPA分数</option>
                          <option [ngValue]="5">5分</option>
                          <option [ngValue]="4">4分</option>
                          <option [ngValue]="3">3分</option>
                          <option [ngValue]="2">2分</option>
                          <option [ngValue]="1">1分</option>
                        </select>
                        <i class="glyphicon glyphicon-triangle-bottom"></i>
                      </div>
                      <div class="ctrl-select-area all info nofirst">
                        <select data-city="全部城市" id="" name="score" [(ngModel)]="assessment.score">
                          <option [ngValue]=null>评分信息</option>
                          <option [ngValue]="1">985/211院校，语言成绩好，日语流畅</option>
                          <option [ngValue]="2">211院校，语言成绩一般，日语了解</option>
                          <option [ngValue]="3">一般院校，语言成绩一般，不懂日语</option>
                        </select>
                        <i class="glyphicon glyphicon-triangle-bottom"></i>
                      </div>
                    </div>
                    <div class="jm-cb"></div>
                  </li>
                </ul>
              </div>
              <input class="btn-assess-submit" type="button" value="提交信息" (click)="userAssess()">
            </div>
          </form>

        </div>
      </div>
    </div>
  </div>
</div>
