 .end-area {
  padding-bottom: 4rem;
}
 .list-header h3 {
  margin: 1rem auto 0;
  padding-bottom: 1rem;
  font-size: 1.2rem;
  font-weight: bold;
  border-bottom: 0.3rem solid #333;
}
 .list-header h3 b {
  color: #a51a29;
}
 .list-area {
  border-bottom: 1px solid #ddd;
  padding: 1.8rem 0;
  overflow: hidden;
}
 .list-area .img-area {
  border: 1px solid #ddd;
  text-align: center;
  vertical-align: middle;
  padding: 1.4rem 0;
   background-color: white;
}
 .list-area .img-area a {
  display: block;
  padding: 0;
  margin-top: 0;
  border: none;
}
 .list-area .img-area img {
  max-width: 100%;
  height: 80px;
}
 .list-area button{
   margin-left: 5rem;
   margin-bottom: 0.4rem;
 }
.list-area h4 {
  width: 100%;
  font-size: 1.3rem;
  font-weight: bold;
  white-space: nowrap;
  text-overflow: ellipsis;
  overflow: hidden;
  font-family: inherit;
}
.list-area h4 font {
  color: #333;
  margin: 0 1.2rem;
  font-size: 1.6rem;
  font-weight: lighter;
}
.list-area h4 span {
  display: inline-block;
  font-size: 1.3rem;
  font-weight: normal;
  color: #555;
}
.list-area p {
  margin-top: 1.6rem;
  font-size: 1rem;
}
.list-area p span {
  font-weight: bold;
  color: #a51a29;
  margin-right: 1.8rem;
}
.list-area a {
  display: inline-block;
  padding: 0.2rem 1.8rem;
  margin-top: 1.2rem;
  color: #333;
  font-size: 1.2rem;
  border: 1px solid #333;
  text-decoration: none;
  -webkit-transition: all 0.2s linear;
  -moz-transition: all 0.2s linear;
  transition: all 0.2s linear;
}
.pagination {
  text-align: center;
  display: block;
}
.schools{
  width:80%;
  background-color: #4b8d8d4f;
}
