<app-head-nav></app-head-nav>
<div class="container jiemo-futurejap-crumb">
  <div class="row">
    <div class="col-md-12">
      <span>您的位置：<a href="/">首页</a>/</span>
      <b style="color: #333">新闻资讯</b>
    </div>
  </div>
</div>
<div class="container jiemo-futurejap-newslist">
  <div class="row">
    <div class="col-md-12">
      <h2 class="news-title">新闻资讯</h2>
    </div>
  </div>
  <div class="row content">
    <!--循环 start，滚动到底部继续加载，每次加载12条-->
    <div class="col-md-3" *ngFor="let article of articles">
      <a href="http://www.qianchengriben.com/news/detail/id/236">
        <p style="height: 168.32px;"><img [src]="article.picture" alt="" style="width: 100%;"></p>
        <h3>{{ article.title }}</h3>
        <span>
                    <i><img src="http://www.qianchengriben.com/Public/Home/images/icon-news-1.png" alt="">{{ article.readCount }}</i>
                    <em>{{ article.createTime }}</em>
                </span>
      </a>
    </div>
    <!--循环 end-->
  </div>
  <!--翻页 start-->
  <div class="pagination">
    <ngb-pagination [collectionSize]="collectionSize" [(page)]="page" [maxSize]="5" [boundaryLinks]="true" (pageChange)="pageArticles()"></ngb-pagination>
  </div>
  <!--翻页 end-->
</div>
