<app-head-nav></app-head-nav>
<ngb-alert [dismissible]="false"  *ngIf="fail" class="alert">
  <strong>{{ message }}</strong>
</ngb-alert>
<div class="container-fluid jiemo-futurejap-sdheader">
  <div class="row">
    <!--面包屑 start-->
    <div class="container jiemo-futurejap-crumb">
      <div class="row">
        <div class="col-md-12">
          <span>您的位置：<a href="/">首页</a>/</span>
          <span><a routerLink="/school">院校库</a>/</span>
          <b class="white">{{ school.schoolName }}</b>
        </div>
      </div>
    </div>
    <!--面包屑 end-->
    <!--内容 start-->
    <div class="container">
      <div class="row">
        <div class="col-md-3 left hidden-xs">
          <div class="img-area">
            <img src="http://imghome.jiemo.net/library/Admin/Uploads/image/2014/1023/20141023055153397.png" alt="">
          </div>
        </div>
        <div class="col-md-7 center">
          <ul>
            <li><h2>{{ school.schoolName }}</h2></li>
            <li><sub>{{ school.englishName }}</sub></li>
            <li><b>位于：</b><span>{{ school.province }}，{{ school.city }}</span></li>
            <!--<li><b>学校官网：</b><span>{{ school.website }}</span><b>学校性质：</b><span>国立</span></li>-->
            <!--<li><b>电话：</b><span>81 11-716-2111</span><b>邮编：</b><span>060-0808</span></li>-->
          </ul>
        </div>
        <div class="col-md-2 right hidden-xs">
                    <span>
                        <i>{{ school.worldRanking }}</i>
                        <sub>世界排名</sub>
                    </span>
          <span>
                        <i>{{ school.nationalRanking }}</i>
                        <sub>国内排名</sub>
                    </span>
          <div class="jm-cb"></div>
        </div>
      </div>
    </div>
    <!--内容 end-->
  </div>
</div>


<div class="container-fluid jiemo-futurejap-sdwrap">
  <div class="row">
    <!--院校介绍 start-->
    <div class="container school-info">
      <div class="row">
        <div class="col-md-12">
          <div class="header">
            <em data-href=".jiemo-futurejap-sdwrap .school-info" class="active">院校介绍</em>
            <em data-href=".jiemo-futurejap-sdwrap .major-area">专业介绍</em>                        <em data-href=".jiemo-futurejap-sdwrap .require-area">录取要求</em>
            <em data-href=".jiemo-futurejap-sdwrap .case-area">成功案例</em>
            <em data-href=".jiemo-futurejap-sdwrap .guide-area">留学攻略</em>
            <h3 class="visible-xs">院校介绍</h3>
          </div>
        </div>
      </div>
      <div class="row content">
        <div class="col-md-7">
          <p class="toggle-area">
            {{ school.description }}
          </p>
          <em class="toggle-area-btn" style="display: none;"><i class="glyphicon glyphicon-triangle-bottom"></i>展开</em>
        </div>
        <div class="col-md-5">
        </div>
      </div>
    </div>
    <!--院校介绍 end-->
  </div>
  <!--左右分栏 start-->
  <div class="row">
    <div class="container">
      <div class="row">
        <!--左侧 start-->
        <div class="col-md-9 sdleft">
          <!--专业介绍 start-->
          <div class="major-area">
            <h3 class="sd-default-title">专业介绍</h3>
            <input type="hidden" id="sh_id" name="sh_id" value="385">
            <input type="hidden" id="page_fenye" name="page_fenye" value="1">
            <div class="search-area">
              <ul class="toggle-area">
                <li>
                  <b>专业名称：</b>
                  <div class="cond-area">
                    <div class="input-group">
                      <input type="text" class="form-control" placeholder="请输入专业名称" id="keyword" name="keyword" [(ngModel)]="request.majorName">
                      <span class="input-group-btn">
                        <button class="btn btn-default" type="button" (click)="getPageMajors()">查询</button>
                      </span>
                    </div>
                  </div>
                </li>
                <li>
                  <b>意向课程：</b>
                  <div class="cond-area" id="courseDict">
                    <em [class]="actives[0]" (click)="activeStyle(0)">全部</em>
                    <em [class]="actives[1]" (click)="activeStyle(1)">硕士</em>
                    <em [class]="actives[2]" (click)="activeStyle(2)">博士</em>
                    <em [class]="actives[3]" (click)="activeStyle(3)">研究生</em>
                  </div>
                </li>
              </ul>
            </div>
            <p>共有<b id="itemCount">{{ totalCount }}</b>个专业</p>
            <ul id="majorList">
              <!--循环 start，10条-->
              <li *ngFor="let major of majors">
                <div class="left">
                  <em>{{ major.majorName }}</em>
                  <span>课程：{{ major.degreeType }}</span>
                  <span>学位类型：{{ major.degreeType }}</span>
                  <span>说明：{{ major.majorDesc }}</span>
                </div>
                <div class="right">
                  <!--<a href="http://www.qianchengriben.com/free" target="_blank">申请该学校</a>-->
                </div>
              </li><!--循环 end-->
            </ul>
            <div class="pagination">
              <ngb-pagination [collectionSize]="totalCount" [(page)]="request.page" [maxSize]="5" [boundaryLinks]="true" (pageChange)="getPageMajors()"></ngb-pagination>
            </div>
          </div>
          <!--专业介绍 end-->

         <!--录取要求 start-->
          <div class="require-area">
            <h3 class="sd-default-title">录取要求</h3>
            <ul class="toggle-area">
              <li>
                <b>申请要求</b>
                <span>JLPT成绩：</span>
                <span>JTEST成绩：</span>
              </li>
              <li>
                <b>申请材料清单</b>
                证件照
                护照
                报名表和履历书
                毕业学历证明/在读学历证明
                成绩单
                语言能力证书
                生活照电子版
                自我介绍
              </li>
              <li class="fiftypercenter">
                <b>全部学生：18000</b>
                <span>国际生比例：11%</span>
                <span>就业率：31%</span>
              </li>
              <li>
                <b>费用/日元：~</b>
                <span>每年学费，住宿，课本及其他费用</span>
                <span>学费 535800~535800</span>
                <span>住宿费 10000~50000</span>
                <span>其他费用 80000~120000</span>
              </li>
              <li>
                <b>全部学生：18000</b>
                <span>国际生比例：11%</span>
                <span>就业率：31%</span>
              </li>
            </ul>
            <em class="toggle-area-btn"><i class="glyphicon glyphicon-triangle-bottom"></i>展开</em>
          </div>
          <!--录取要求 end-->

        </div>
        <!--左侧 end-->
        <!--右侧 start-->
        <div class="col-md-3 sdright hidden-xs">
        </div>
        <!--右侧 end-->
      </div>
    </div>
  </div>
  <!--左右分栏 end-->
</div>
