<app-head-nav></app-head-nav>
<!--头部 end-->
<!--当前页面css-->
<!--<link rel="stylesheet" href="../../assets/css/jiemo-futurejap-index.css">-->

<!--介绍 start-->
<div class="container-fluid jiemo-futurejap-text">
  <div class="container">
    <div class="col-md-4">
      <img src="../../assets/images/icon-sp-1.png" alt="图标1">
      <h3>全面背景提升</h3>
      <p>
        留学外语强化，外文专业书籍，日本导师论文，期刊论文发表，名校短期交流，海外名师讲坛，艺术作品辅导。<br>樱花教育给大家的不仅是几套文书和一纸offer，而是一次全面的学习和提升。
      </p>
    </div>
    <div class="col-md-4">
      <img src="../../assets/images/icon-sp-2.png" alt="图标2">
      <h3>超强申请实力</h3>
      <p>
        十年申请经验带来最权威的信息最全面的数据。<br>全海归申请团队带来最专业的文书指导和最完整的院系覆盖。<br>国内领先的客户服务系统和云申请系统带来最周到的服务和最完美的体验。
      </p>
    </div>
    <div class="col-md-4">
      <img src="../../assets/images/icon-sp-3.png" alt="图标3">
      <h3>海外生活保障</h3>
      <p>
        行前辅导，前辈连线，驻日实体公司，权威进学课程。协助您走进樱花烂漫的校园仅仅是一个开始，让您拥有一个美好充实的留学生活是我们的愿望。樱花教育除了强大的申请能力，还为您的海外学习和生活提供周到全面的服务与保障。
      </p>
    </div>
  </div>
</div>
<!--介绍 end-->
<!--功能链接 start-->
<div class="container-fluid jiemo-futurejap-function">
  <div class="container">
    <div class="col-md-4 col-xs-6">
      <a href="#">
        <img src="../../assets/images/icon-sp-4.png" alt="图标4">
        <h3>留学方案</h3>
      </a>
    </div>
    <div class="col-md-4 col-xs-6">
      <a href="#">
        <img src="../../assets/images/icon-sp-5.png" alt="图标5">
        <h3>申请流程</h3>
      </a>
    </div>
    <div class="col-md-4 col-xs-6">
      <a href="#">
        <img src="../../assets/images/icon-sp-6.png" alt="图标6">
        <h3>服务体系</h3>
      </a>
    </div>
    <div class="col-md-4 col-xs-6">
      <a href="javascript:customer();">
        <img src="../../assets/images/icon-sp-7.png" alt="图标7">
        <h3>客户中心</h3>
      </a>
    </div>
    <div class="col-md-4 col-xs-6">
      <a href="#">
        <img src="../../assets/images/icon-sp-8.png" alt="图标8">
        <h3>樱之国活动</h3>
      </a>
    </div>
    <div class="col-md-4 col-xs-6">
      <a href="#">
        <img src="../../assets/images/icon-sp-9.png" alt="图标9">
        <h3>樱之国团队</h3>
      </a>
    </div>
  </div>
</div>
<!--功能链接 end-->
<!--新闻资讯 start-->
<div class="container-fluid jiemo-futurejap-news">
  <div class="container">
    <div class="row">
      <h3 class="col-md-12">新闻资讯</h3>
    </div>
    <div class="row row2">
      <div class="col-md-3" *ngFor="let article of articles">
        <a href="#">
          <div class="content">
            <div class="line-black"></div>
            <span>{{ article.createTime }}</span>
            <img [src]="article.picture" alt="新闻图">
            <h4>{{ article.title }}</h4>
            <p></p>
            <em>阅读全文<img src="../../assets/images/icon-arrow-r.png" alt="右箭头"></em>
          </div>
        </a>
      </div>
    </div>
    <div class="row">
      <div class="col-md-12 jm-tac">
        <a routerLink="/news" class="btn-more">
          更多资讯
          <!--<i>&#10140</i>-->
        </a>
      </div>
    </div>
  </div>
</div>
<!-- 活动弹窗 -->
<div class="utop_box">
  <div class="utop">
    <span class="close"></span>
    <a href="#" class="info" target="_blank"></a>
  </div>
</div>

<div style="display: none" id="qqinfo">
  <!--<script type="text/javascript" src="http://yun.jiemo.net/index.php/api/show_qiancheng_qq"></script>-->
</div>
<app-float-nav></app-float-nav>
