<app-head-nav></app-head-nav>
<div class="container jiemo-futurejap-crumb crumbsmall">
  <div class="row">
    <div class="col-md-12">
      <span>您的位置：<a href="http://www.qianchengriben.com">首页</a>/</span>
      <b>客户中心</b>
    </div>
  </div>
</div>

<div class="mainBody">
  <div class="container">
    <div class="row">
      <div class="col-md-2">
        <div class="subContent text-center">
          <!--客户左侧菜单栏开始-->
          <dl>
            <dt><img id="left_header" src="http://www.qianchengriben.com/Public/Home/images/hed-default.png" alt="用户头像"></dt>
            <dd>一个小时不简单</dd>
          </dl>
          <ul>
            <li><a href="http://www.qianchengriben.com/Customer" class="active">个人中心</a></li>
            <li><a routerLink="/personal/apply" class="">申请管理</a></li>
            <li><a routerLink="/personal/account" class="">账号管理</a></li>
          </ul>
          <!--客户左侧菜单栏结束-->
        </div>
      </div>
      <!--<div class="col-md-10">-->
        <!--<div class="mainContent">-->
          <!--<div class="uPanel">-->
            <!--<div class="uPanelHead">-->
              <!--你好，<span class="userName">一个小时不简单</span>-->
            <!--</div>-->
            <!--<div class="uPanelBody index">-->
              <!--<div class="uMedia clearfix">-->
                <!--<i class="ibg-consult"></i>-->
                <!--<dl>-->
                  <!--<dt>在线咨询</dt>-->
                  <!--<dd>快速了解日本留学相关信息</dd>-->
                <!--</dl>-->
                <!--<a href="http://wpa.qq.com/msgrd?v=3&amp;uin=80040453&amp;site=qq&amp;menu=yes" target="_blank" class="uMediaLink">立即咨询</a>-->
              <!--</div>-->
              <!--<div class="uMedia clearfix">-->
                <!--<i class="ibg-evaluate"></i>-->
                <!--<dl>-->
                  <!--<dt>评估定位</dt>-->
                  <!--<dd>填写评估定位表，获取日本留学评估方案</dd>-->
                <!--</dl>-->
                <!--<a href="http://www.qianchengriben.com/Assessment" class="uMediaLink">前往填写</a>-->
              <!--</div>-->
            <!--</div>                                                                    </div>-->
          <!--<div class="specials">-->
            <!--<p>前程活动</p>-->
            <!--<div class="row">-->
              <!--<div class="col-xs-6 col-sm-3"><a href="http://www.qianchengriben.com/Market/travel2019/?channel=GW"><img src="http://www.qianchengriben.com/Uploads/Picture/2019-03-20/5c920d98e6170.jpg" alt=""></a></div><div class="col-xs-6 col-sm-3"><a href="http://www.qianchengriben.com/market/camp2019/?channel=QCWX"><img src="http://www.qianchengriben.com/Uploads/Picture/2019-01-21/5c459cb8276d9.jpg" alt=""></a></div><div class="col-xs-6 col-sm-3"><a href="https://mp.weixin.qq.com/s/pJzw4gUmJBvm599IsELO2g"><img src="http://www.qianchengriben.com/Uploads/Picture/2018-06-04/5b14e34b5699b.jpg" alt=""></a></div><div class="col-xs-6 col-sm-3"><a href="http://www.qianchengriben.com/signupqc/index/sgu/?channel=gw"><img src="http://www.qianchengriben.com/Uploads/Picture/2018-03-29/5abcac3b78b39.jpg" alt=""></a></div>                        </div>-->
          <!--</div>-->
        <!--</div>-->
      <!--</div>-->
      <router-outlet></router-outlet>
    </div>
  </div>
</div>
