<app-head-nav></app-head-nav>
<div class="container jiemo-futurejap-crumb crumbsmall">
  <div class="row">
    <div class="col-md-12">
      <span>您的位置：<a href="/">首页</a>/</span>
      <b>客户中心</b>
    </div>
  </div>
</div>

<div class="mainBody">
  <div class="container">
    <div class="row">
      <div class="col-md-2">
        <div class="subContent text-center">
          <!--客户左侧菜单栏开始-->
          <dl>
            <dt>
              <img id="left_header" *ngIf="!user.icon" src="../../../assets/images/logo.jpg" alt="用户头像">
              <img id="left_header" *ngIf="user.icon" [src]="user.icon" alt="用户头像">
            </dt>
            <dd>{{ user.realName }}</dd>
          </dl>
          <ul>
            <li><a routerLink="/personal/personal-center" [class]="actives[0]" (click)="togger(0)">个人中心</a></li>
            <li><a routerLink="/personal/apply" [class]="actives[1]" (click)="togger(1)">申请管理</a></li>
            <li><a routerLink="/personal/account" [class]="actives[2]" (click)="togger(2)">账号管理</a></li>
            <li><a routerLink="/personal/recommend" [class]="actives[3]" (click)="togger(3)" *ngIf="user.userType === 1">推荐院校</a></li>
          </ul>
          <!--客户左侧菜单栏结束-->
        </div>
      </div>
      <ul class="nav nav-pills nav-justified step step-progress" id="stepUL" *ngIf="user.userType === 1">
        <li [class]="classes[0]">
          <a [routerLink]="routerLinks[0]" >能力评估<span class="caret"></span></a>
        </li>
        <li [class]="classes[1]">
          <a [routerLink]="routerLinks[1]">院校选择<span class="caret"></span></a>
        </li>
        <li [class]="classes[2]">
          <a [routerLink]="routerLinks[2]">签署协议<span class="caret"></span></a>
        </li>
        <li [class]="classes[3]">
          <a [routerLink]="routerLinks[3]">提交申请资料<span class="caret"></span></a>
        </li>
        <li [class]="classes[4]">
          <a [routerLink]="routerLinks[4]" [queryParams]="{type:1}" (click)="sendMessage(1)">协议办理<span class="caret"></span></a>
        </li>
        <li [class]="classes[5]">
          <a [routerLink]="routerLinks[5]" [queryParams]="{type:2}" (click)="sendMessage(2)">取得内诺<span class="caret"></span></a>
        </li>
        <li [class]="classes[6]">
          <a [routerLink]="routerLinks[6]" [queryParams]="{type:3}" (click)="sendMessage(3)">留学<span class="caret"></span></a>
        </li>
      </ul>
      <div [@routeAnimations]="prepareRoute(outlet)" >
        <router-outlet #outlet="outlet"></router-outlet>
      </div>
    </div>
  </div>
</div>
